body {
    overflow: auto;
    background-image: url(bg.jpg);
    font-family: 'Montserrat', sans-serif;
}

#intro {
    padding: 20px;
    position:fixed;
    top: 50%;
    left: 50%;
    width:30em;
    margin-top: -9em; /*set to a negative number 1/2 of your height*/
    margin-left: -16em; /*set to a negative number 1/2 of your width*/
    border-radius: 1em;
    background-color: rgba(211,211,211,0.5);
}

#intro > img {
    width: 30%;
    border-radius: 100%;
    vertical-align: middle;
}

#name {
    display: inline-block;
    position: relative;
}

#name > h1 {
    padding: 10px;
}

#name > nav {
    position: absolute;
    top: 80px;
    left: 10px;
}

nav > button {
    padding: 8px;
    border: none;
    border-radius: 1em;
    font-family: 'Montserrat', sans-serif;
}

nav > button:hover {
    background-color: blue;
    color: white;
    cursor: pointer;
}

.container {
    position: fixed;
    z-index: 1;
    top: 30%;
    left: 50%;
    max-height: 500px;
    max-width: 40em;
    margin-top: -9em; /*set to a negative number 1/2 of your height*/
    margin-left: -21.3em; /*set to a negative number 1/2 of your width*/
    padding: 20px;
    background-color: white;
    border-radius: .2em;
}

.sidebar {
    float: left;
    width: 30%;
    text-align: center;
    position: relative;
    padding: 5px;
    max-height: 500px;
}

.sidebar > h2 {
    display: inline-block;
}

.sidebar > button {
    position: absolute;
    left: 20px;
    top: 20px;
    border: none;
    background-color: white;
    font-size: 1.9em;
}

.sidebar > button:hover {
    color: red;
    cursor: pointer;
}

.list > div:hover {
    color: white;
    background-color: blue; !important
    cursor: pointer; !important
}

.list > div {
    padding: 5px;
}

.details {
    display: inline-block;
    width: 65%;
    padding: 5px;
    padding-left: 15px;
    border-left: 1px solid black;
    max-height: 500px;
    overflow: auto;
}

.list {
    max-height: 400px;
    overflow: auto;
}

.selected {
    background-color: darkviolet;
    color: white;
}